<!-- templates/add_defigement.html -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ajouter un Nouveau Défigement</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
    {% include 'menu.html' %}
    <div class="container mt-5" style="position: relative">
        <h5>Défigez le figement suivant :</h5>
        <a href="/all?figement_id={{defigement.id}}"> <h4>« {{ defigement.text }} »</h4></a>
        <form id="addDefigementForm" class="mt-3">
            <div class="form-group">
                <input type="text" name="defigement_str" class="form-control" required>
            </div>
            <input type="hidden" name="figement_id" value="{{ defigement.id }}">
            <button type="button" onclick="addDefigement()" class="btn btn-primary">Ajouter</button>
        </form>
        <div aria-live="polite" aria-atomic="true" style="position: relative; min-height: 200px;">
           <div id="successToast" class="toast" style="position: absolute; top: 0; right: 0;" role="alert" aria-live="assertive" aria-atomic="true" data-delay="5000">
                <div class="toast-header">
                    <strong class="mr-auto">Succès</strong>
                    <small>À l'instant</small>
                    <button type="button" class="ml-2 mb-1 close" data-dismiss="toast" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="toast-body">
                    Défigement ajouté avec succès!
                </div>
            </div>
        </div>
    </div>
    <script>
        async function addDefigement() {
            const form = document.getElementById('addDefigementForm');
            const formData = new FormData(form);

            try {
                const response = await fetch('/add_defigement/', {
                    method: 'POST',
                    body: formData,
                    headers: {
                        'Authorization': 'Bearer ' + document.cookie.split(';')[0].split('=')[1]
                    }
                });

                if (response.ok) {
                    // Afficher la popup de succès
                    const successToast = new bootstrap.Toast(document.getElementById('successToast'));
                    successToast.show();
                    // Réinitialiser le champ de texte après l'ajout réussi
                    form.reset();
                } else {
                    console.error('Échec de la requête AJAX');
                }
            } catch (error) {
                console.error('Erreur lors de l\'envoi de la requête AJAX', error);
            }
        }

    </script>

    <!-- Bootstrap JS and Popper.js (Required for Bootstrap) -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.3/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
