<!-- templates/nav_bar.html -->

<nav class="block fixed navbar navbar-expand-lg navbar-light bg-light" style="width: 98vw; display: flex">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
            <li class="nav-item">
                <button class="btn btn-link nav-link en_gras_pour_faire_plaisir_a_julien" onclick="gotoPage('/', false, true, '{{ host }}')">Accueil</button>
            </li>
            <li class="nav-item">
                <button class="btn btn-link nav-link en_gras_pour_faire_plaisir_a_julien" onclick="gotoPage('/informations', false, true, '{{ host }}')">À propos</button>
            </li>
            <li class="nav-item">
                <button class="btn btn-link nav-link en_gras_pour_faire_plaisir_a_julien" onclick="gotoPage('/annotate', true, true, '{{ host }}')">Annotation</button>
            </li>
            <li class="nav-item">
                <button class="btn btn-link nav-link en_gras_pour_faire_plaisir_a_julien" onclick="gotoPage('/ranking', true, true, '{{ host }}')">Classement</button>
            </li>
        </ul>
    </div>
    <div class="navbar-nav ml-auto" id="userMenu">
        <button type="button" class="btn btn-link" onclick="open_modal('#loginModal')">Connexion</button>
        <button type="button" class="btn btn-link" onclick="open_modal('#signupModal')">Inscription</button>
    </div>
</nav>


<div class="modal fade" id="loginModal" tabindex="-1" role="dialog" aria-labelledby="signupModalLabel"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="loginModalLabel">Connexion</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form id="loginForm">
                    <div class="form-group">
                        <label for="username">Nom d'utilisateur:</label>
                        <input type="text" class="form-control" id="loginUsername" name="username" required>
                    </div>
                    <div class="form-group">
                        <label for="password">Mot de passe:</label>
                        <input type="password" class="form-control" id="loginPassword" name="password" required>
                    </div>
                    <div class="modal-button-daddy">
                        <button type="button" class="block button-modal" onclick="makeRequest('login', '{{ host }}')">Connexion
                        </button>
                    </div>
                </form>
            </div>
            <div id="newLocation" style="display: none;"></div>
        </div>
    </div>
</div>

<!-- Modal d'Inscription -->
<div class="modal fade" id="signupModal" tabindex="-1" role="dialog" aria-labelledby="signupModalLabel"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="signupModalLabel">Inscription</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body" id="modal-body">
                <form id="signupForm">
                    <div class="form-group">
                        <label for="username">Nom d'utilisateur:</label>
                        <input type="text" class="form-control" id="username" name="username" required>
                    </div>
                    <div class="form-group">
                        <label for="password">Mot de passe:</label>
                        <input type="password" class="form-control" id="password" name="password" required>
                    </div>
                    <div class="modal-button-daddy">
                        <button type="button" class="block button-modal" onclick="makeRequest('signup', '{{ host }}')">S'inscrire
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<div id="toastContainer" style="position: fixed; bottom: 20px; right: 20px; z-index: 9999;"></div>

<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
<link rel="stylesheet" href="https://unpkg.com/blocks.css/dist/blocks.min.css"/>
<link rel="stylesheet" href=https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css"/>

<!-- Bootstrap JS and Popper.js (Required for Bootstrap) -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.3/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
